* {
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}

:root {
  --bg: #B82554;
  --header: #831A3C;
  --text-box: rgba(231, 231, 231, 0.7);
  --text-light: rgba(231, 231, 231, 0.85);
  --text: #000000;
  --header-height: 100px;
}

html {
  background-color: var(--bg);
}

/* Flexbox classes */
.flex {
  display: flex;
}
.f-arnd {
  justify-content: space-between;
}
.f-align-c {
  align-items: center;
}

header {
  height: var(--header-height);
  padding: 20px;
  padding-left: 40px;
  background-color: var(--header);
}

h1,
h2 {
  color: var(--text-light);
}

h1 {
  font-weight: bold;
  margin: 0;
  margin-right: 30px;
  flex: 0 0 225px;
}

h2 {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 5px;
}

.container-img-quote {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-size: cover;
  background-position: center;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-box);
  margin: 0;
  padding: 20px 30px;
  border-radius: 20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.open {
  width: 250px;
}

.close {
  width: 0px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}