* {
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}

:root {
  --bg: #B82554;
  --header: #831A3C;
  --text-box: rgb(202, 202, 202, .95);
  --text: #000000;
}

html {
  background-color: var(--bg);
}